In [1]:

import pandas

Collecting pandas
  Using cached pandas-2.2.2-cp39-cp39-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.1-cp39-cp39-macosx_14_0_arm64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nirbhaysedha/miniforge3/envs/C/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/nirbhaysedha/miniforge3/envs/C/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp39-cp39-macosx_11_0_arm64.whl (11.3 MB)
Downloading numpy-2.0.1-cp39-cp39-macosx_14_0_arm64.whl (5.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 14.9 MB/s eta 0:00:00a 0:00:01
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [29]:
import pathlib

import pandas as pd
df=pd.read_csv('/Users/nirbhaysedha/Desktop/C/data/external/Almond.csv')

In [30]:
df.head()

,Unnamed: 0,Length (major axis),Width (minor axis),Thickness (depth),Area,Perimeter,Roundness,Solidity,Compactness,Aspect Ratio,Eccentricity,Extent,Convex hull(convex area),Type
0,0,NaN,227.940628,127.759132,22619.0,643.813269,NaN,0.973384,1.458265,NaN,NaN,0.681193,23237.5,MAMRA
1,1,NaN,234.188126,128.199509,23038.0,680.984841,NaN,0.957304,1.601844,NaN,NaN,0.656353,24065.5,MAMRA
2,2,NaN,229.418610,125.796547,22386.5,646.943212,NaN,0.967270,1.487772,NaN,NaN,0.683620,23144.0,MAMRA
3,3,NaN,232.763153,125.918808,22578.5,661.227483,NaN,0.965512,1.540979,NaN,NaN,0.685360,23385.0,MAMRA
4,4,NaN,230.150742,107.253448,19068.0,624.842706,NaN,0.951450,1.629395,NaN,NaN,0.714800,20041.0,MAMRA

In [33]:
df=df.rename(columns={'Length (major axis)':'length','Convex hull(convex area)':'Convex','Thickness (depth)':'Thickness','Width (minor axis)':'width'})

In [34]:
df.head()

,Unnamed: 0,length,width,Thickness,Area,Perimeter,Roundness,Solidity,Compactness,Aspect Ratio,Eccentricity,Extent,Convex,Type
0,0,NaN,227.940628,127.759132,22619.0,643.813269,NaN,0.973384,1.458265,NaN,NaN,0.681193,23237.5,MAMRA
1,1,NaN,234.188126,128.199509,23038.0,680.984841,NaN,0.957304,1.601844,NaN,NaN,0.656353,24065.5,MAMRA
2,2,NaN,229.418610,125.796547,22386.5,646.943212,NaN,0.967270,1.487772,NaN,NaN,0.683620,23144.0,MAMRA
3,3,NaN,232.763153,125.918808,22578.5,661.227483,NaN,0.965512,1.540979,NaN,NaN,0.685360,23385.0,MAMRA
4,4,NaN,230.150742,107.253448,19068.0,624.842706,NaN,0.951450,1.629395,NaN,NaN,0.714800,20041.0,MAMRA

In [1]:
"""Please write a simple Python program to assign 10 to a variable. 
 Then write a statement to double its value, increase this value by
   100, divide the new value by 4, and assign the remainder to
the original variable when dividing the value obtained in
 the previous step by 7. Note: You need to write ONE statement
which can perform all the above requirements on any given number. """

'Please write a simple Python program to assign 10 to a variable. \n Then write a statement to double its value, increase this value by\n   100, divide the new value by 4, and assign the remainder to\nthe original variable when dividing the value obtained in\n the previous step by 7. Note: You need to write ONE statement\nwhich can perform all the above requirements on any given number. '

In [6]:
y=10
y=(((y*2)+100)/4)%7
y

2.0

In [7]:
"""Assign the string "Hello" to the variable var,
 then use an appropriate string method to convert 
 all the characters of this string into lowercase
   (i.e., "hello"), and finally store the new string
     back to the variable var.
Assign the string "S1234567" to the variable var,
 then use an appropriate string method to return a 
 boolean value indicating if this string starts with "S",
   and finally store this boolean value to a variable name 
   starts_with_S.
Assign the string "123" to the variable var, then use an
 appropriate string method to return a boolean value indicating 
 if this string contains only numeric values, and finally store 
 this boolean value to a variable name is_numeric."""

'Assign the string "Hello" to the variable var,\n then use an appropriate string method to convert \n all the characters of this string into lowercase\n   (i.e., "hello"), and finally store the new string\n     back to the variable var.\nAssign the string "S1234567" to the variable var,\n then use an appropriate string method to return a \n boolean value indicating if this string starts with "S",\n   and finally store this boolean value to a variable name \n   starts_with_S.\nAssign the string "123" to the variable var, then use an\n appropriate string method to return a boolean value indicating \n if this string contains only numeric values, and finally store \n this boolean value to a variable name is_numeric.'

In [14]:
var="Helloo"
var.lower()
if(var[0]=="S"):
    start_with_s=True
else:
    start_with_s=False

var="S1234567"
if(var.startswith("S")):
    start_with_s=True

var="123"
if(var.isnumeric()==True):
    is_numeric=True
    print(is_numeric)
else:
    is_numeric=False
    print(is_numeric)

True

In [15]:
"""Define a list to keep the names 
of friends, for example, Harry, Hermione, Ron, Dumbledore, 
and Hagrid. Then:

print the first friend, that is the first person on the list
print the last friend, i.e. the last person on the list
print the third and the fourth friends together
finally, print the second friend and the last friend together
"""

'ArithmeticErrorDefine a list to keep the names \nof friends, for example, Harry, Hermione, Ron, Dumbledore, \nand Hagrid. Then:\n\nprint the first friend, that is the first person on the list\nprint the last friend, i.e. the last person on the list\nprint the third and the fourth friends together\nfinally, print the second friend and the last friend together\n'

In [16]:
friends=['Harry','hermione','Ron','dumbeldore','Hagrid']
print(f"first person on the list{friends[0]}")
print(f"last friend in the list{friends[-1]}")
print(f"3,4 friend in the list{friends[3:5]}")
print(f"2,-1 friend in the list{friends[1],friends[-1]}")

first person on the listHarry
last friend in the listHagrid
3,4 friend in the list['dumbeldore', 'Hagrid']
2,-1 friend in the list('hermione', 'Hagrid')

In [17]:
"""Write a function in Python to check duplicate letters.
 It must accept a string, i.e., a sentence. The function 
 should return True if the sentence has any word with duplicate
   letters, else return False. """

'Write a function in Python to check duplicate letters.\n It must accept a string, i.e., a sentence. The function \n should return True if the sentence has any word with duplicate\n   letters, else return False. '

same
not same

IndexError: string index out of range